# Ignore environment variables
.env

# Ignore node_modules (Netlify CLI and functions may install small dependencies)
node_modules/

# Ignore Netlify build folder if it appears
.netlify/

# macOS Finder junk
.DS_Store

# VS Code settings folder (optional, if you use VSCode)
.vscode/

# log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore anything tempy
*.log
*.tmp
*.swp
